* {
    text-align: center;
}

body {
    background-color: rgb(204, 155, 176);
}

table {
    margin: auto;
    border: solid 2px black;
}

.cell {
    height: 40px;
    width: 40px;
    border: 2px solid black;
    text-align: center;
    background-color: rgb(199, 146, 146);
}

.clicked {
    background-color: lightgray;
}

.boom {
    background-color: red;
}

.smiley {
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 40px;
}

button {
    cursor: pointer;
    width: 100px;
    height: 50px;
    padding: 5px;
    border: solid 2px black;
    border-radius: 10px;
    font-size: 20px;
}

.time {
    position: relative;
    left: 180px;
    font-size: 25px;
    top: 25px;
    margin-right: 5px;
}

.lifes {
    position: relative;
    right: 180px;
    bottom: 10px;
    font-size: 25;  
}

.flags-left {
    position: relative;
    bottom: 43px;
    font-size: 25;
    font-weight: bold;
}