* {
    text-align: center;
}

body {
    background-color: blueviolet;
}

table {
    margin: auto;
    margin-top: 20px;

}

.cell {
    height: 40px;
    width: 40px;
    border: 2px solid black;
    text-align: center;
    background-color: grey;
}

.clicked {
    background-color: lightgray;
}

.boom {
    background-color: red;
}

.time {
    font-size: 25px;
    margin-top: 10px;
}

.smiley {
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 40px;
}
